<!DOCTYPE html>
<html>
  <head>
    <title>getTest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <a href="./getTest?id=1">Javascript</a><br/>
	  <a href="./getTest?id=2">Node.js</a><br/>
	  <a href="./getTest?id=3">Express</a><br/>
    <h5>query : <%= query %></h5><br/>
	<h5>params : <%= params %> </h5>
  </body>
</html>